{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}Iniciar sesión{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Usuario</label>
        <input name="username" id="username" required autocomplete="off">

        <label for="password">Contra</label>
        <input name="password" id="password" required type="password" autocomplete="off">

        <input type="submit" value="Iniciar sesión">

    </form>
{% endblock %}